# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.MagneticBoots.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\!MyAssetStore\MagneticBoots\.idea\.idea.MagneticBoots.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
