# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.MagneticBoots.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\!MyAssetStore\MagneticBoots\.idea\.idea.MagneticBoots\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
